Repository alexisvisco/goframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-work-sync, go-mod-tidy, go-fmt, go-vet

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-work-sync
        name: Go workspace sync
        entry: go work sync
        language: system
        files: '(go\.mod|go\.sum|go\.work)$'
        pass_filenames: false
        description: "Synchronize Go workspace modules"

      - id: go-mod-tidy
        name: Go mod tidy
        entry: bash -c 'for dir in $(find . -name "go.mod" -exec dirname {} \;); do echo "Tidying $dir"; (cd "$dir" && go mod tidy); done'
        language: system
        files: '(go\.mod|go\.sum)$'
        pass_filenames: false
        description: "Run go mod tidy on all modules"

      - id: go-fmt
        name: Go format
        entry: gofmt
        language: system
        args: [-w]
        files: '\.go$'
        description: "Format Go code"

      - id: go-vet
        name: Go vet
        entry: go vet
        language: system
        args: [./...]
        files: '\.go$'
        pass_filenames: false
        description: "Run go vet static analysis"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-imports
        args: [-w]

fix: update Go dependencies to latest versions
  db/go.mod
  db/go.sum
  go.work.sum
Due: go-work-sync, go-mod-tidy

fix: add support for new pagination response structure
  cli/generators/genscaffold/gen_crud_find_all.go
  cli/generators/genscaffold/templates/model_and_service.go.tmpl
  cli/generators/genscaffold/templates/service_implementation.go.tmpl
  db/pagination/cursor.go
  db/pagination/cursor_test.go
  db/pagination/integration_test.go
  db/pagination/pagination.go
  db/pagination/pagination_test.go
Due: go-fmt, go-vet

fix: remove duplicate return statement in ScopeImageVariantsLoader
  cli/generators/genimgvariant/templates/types_imgvariant_scope.go.tmpl
Due: none

fix: file error handling in generatecmd tsclient
  cli/commands/generatecmd/tsclient.go
Due: go-fmt, go-vet

feat: enhance TypeScript client generator to handle ctx-only tags and remove errors
  cli/generators/gentsclient/schema.go
  cli/generators/gentsclient/templates/error.ts.tmpl
  cli/generators/gentsclient/templates/fetcher.ts.tmpl
Due: go-fmt, go-vet

fix: aAdd IsCtx method and new ctx tag type
  cli/generators/gentsclient/schema.go
  core/helpers/introspect/object.go
Due: go-fmt, go-vet

feat: add support for Bearer token prefix in access token, fix no request gen in ts
  cli/generators/genauth/templates/service_service_user.go.tmpl
  cli/generators/genauth/templates/types_user.go.tmpl
  cli/generators/gentsclient/routes.go
  cli/generators/gentsclient/templates/fetcher.ts.tmpl
  core/helpers/introspect/object.go
  core/helpers/introspect/parse_enum.go
  http/apidoc/routes.go
Due: go-fmt, go-vet
